@charset "UTF-8";

body{
    background-image: linear-gradient(to right,#8C5B3E,#6e4c39);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px,5px,10px, #533a2b;
    margin: auto;
    font-size: 1em;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #195953;
    text-align: center;
}
h2{
    color: #595919;
}
p{
    text-align: justify;
}