@charset "UTF-8";

body{
    background-color: rgb(255, 47, 47);
    
}
h1{
    color: rgb(36, 33, 33);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    text-align: justify;
}
